<h3>Okay lets start getting crazy :3</h3>
<div class="container">
<form method="post" action="add/commit">
  <h4>How did you do?</h4>
  Kills:        <input type="text" name="post[kills]"><br>
  Deaths:    <input type="text" name="post[deaths]"><br>
  Assists:    <input type="text" name="post[assists]"><br>
  Last Hits: <input type="text" name="post[last_hits]"><br>
  Denies:    <input type="text" name="post[denys]"><br>
  <input type="submit">
  </form>
</div>
